/*
 * Kebo Testimonials - Admin Styles
 */

/*
 * Testimonials Admin - Post Meta
 */

#kbcl_reviewer_name,
#kbcl_reviewer_email,
#kbcl_reviewer_url {
        width: 100%;
}

/*
 * Rating System
 */
@import "misc/ratings";

/*
 * Admin Testimonials Listing
 */
.post-type-kbcl_testimonials .fixed .column-details {
        width: 15%;
}
.post-type-kbcl_testimonials .fixed .column-rating {
        width: 10%;
}