/*
 * Kebo Clients - Frontend Styles
 */

/*
 * Kebo Grid
 */
@import "misc/kebogrid";

/*
 * Clients
 */
.kclients {
        margin: 1em 0;
}
.kclients .page-title {
        margin: 0 0 1em 0;
        padding: 0 0.625rem;
}
.kclients .kcontentbefore {
        padding: 0 0.625rem;
}
