/*
 * Kebo Clients - Frontend Styles
 */

/*
 * Kebo Grid
 */
@import "misc/kebogrid";

/*
 * Clients
 */
.kfriends {
        margin: 1em 0;
}
.kfriends .page-title {
        margin: 0 0 1em 0;
        padding: 0 0.625rem;
}
.kfriends .kcontentbefore {
        padding: 0 0.625rem;
}
